## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/

## Entity Framework
**/Migrations/

## Logs
logs/
*.log

## Docker
docker-compose.override.yml

## Otros
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
*.db
*.sqlite